body {
  margin: 0;
  padding: 16px;
  height: 100vh;
  background: #ffc0cb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motherday_card {
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 4s;
}

.front_img,
.inside_img {
  width: 60%; /* Adjusted size */
  margin: 100px -50px 0;
  position: relative;
}

.motherday_card:hover .front_card {
  transform: rotateY(-160deg);
}

.motherday_card:hover .front_text {
  display: none;
}

.front_text,
.inside_text {
  color: purple;
  font-family: 'Brush Script MT', cursive;
  font-size: 18px;
}

.front_card,
.inside_card {
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  transform-origin: left;
  margin: 40px auto;
  padding: 16px;
  background-color: whitesmoke;
  text-align: center;
  box-shadow: 0 24px 40px -8px purple;
  width: 337.5px;
  height: 600px;
}

.inside_card {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.motherday_card audio {
  width: 80%; 
  display: block; 
  margin: 20px auto; 
}
.motherday_card audio::-webkit-media-controls-panel {
  background-color: purple; /* Pink color */
}

.motherday_card:hover .front_img {
  display: none;
}

@media only screen and (max-width: 768px) {
  .front_img,
  .inside_img {
    max-width: 90%; /* Adjusted size for smaller screens */
  }
}
